@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

    *{        /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif; /* Set the font family */
    }
    body {
        width: 100vw;
        height: auto;
        background: #ffffff;
        background-attachment: fixed;
        overflow-x: hidden;
        
          }
    header, .footer{
        background: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
        left: 0;
    }
    header{
        height: 75px;
        display: flex;
        justify-content: space-between; /* center all the elements inside the header */
        align-items: center; /* ^same thing^ */
        padding: 0;
    }
    .footer{
        width: 100vw;
        position: absolute;
        height: 20px;
        z-index: 0;
        font-size: 15px;
        top: 900px;
    }
    .footer-text {
        padding-left: 10px;
    }
    @media (min-height: 900px) {
        .footer{
            top: 100vh
        }
    }

    .navbar{ /* contains header elements */
        width: 100%;
        margin: 0; /* Center the DIV horizontally */
        display: flex;
        align-items: center;
        height: 82px;
        font-size: 3vw;
    }
    .header-list{
        position: relative;
        flex-grow: 3;
        color: #000000; /* This affects the header & footer text color */
        text-decoration: none;
        padding: 7px 25px; /* Increase the padding to make the buttons bigger */
        display: inline-block;
        background-color: #ffffff; /* Set the background color to a dark gray */
        border: none; /* Remove the border */
        border-radius: 25px; /* Round the edges */
        font-size: 16px; /* Increase the font size */
        cursor: pointer; /* Add a cursor on hover to make it clear that it's clickable */
        transition: background-color 0.5s ease; /* Add a transition effect when hovering over the button */
        margin-right: 20px; /* Add some margin to separate the buttons */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
    .header-list:hover{
        background-color: #000000; /* Change the background color on hover */
        color: white;
    }
    #about-me {
        min-width: 76px;
    }
    .dropdown {
        height: 82px;
        width: 106px;
        margin-right: 20px;
    }
    #gallery {
        position: relative;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        width: 135px;
        height: 70px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 15px;
        font-size: 15px;
        font-weight: 300;
        line-height: 0.8;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .logo { /* JS Photo Logo */
        height: 34px;
        text-align: center;
        color: #000000; /* default color for the text */
        transition: color 0.5s ease; /* add a transition effect when hovering */
        box-shadow: none; 
        padding: 0px;
        margin-left: 40px;
        margin-right: 40px;
        text-decoration: none;
        flex: 1;
        display: flex;
        align-items: center;
    }
    .logop1{
        font-weight: 200;
        font-size: 20px;
        display: inline-block;
        position: absolute;
        line-height: 1;
    }
   span{
    font-weight: 700;
    }
    .logo:hover {
    background-color: transparent;
    color: #ff0000; /* Change the text color on hover */
    text-decoration: none; 
    }
    nav{
        overflow-x: hidden;
        display: flex;
        align-items: center;
        margin-left: 40vw;
        margin-right: 20px;
        height: 72px;
    }
    .container {
        line-height:1.3;
        column-count:2;
        column-gap:15px;
     }
     .media {
        height: 91vh;
        width: 49.5vw;
        object-fit: cover;
        float: left;
     }
     .media {
        filter: brightness(90%);
     }
     .media:hover {
        transition: 0.5s;
        filter: brightness(60%);
        transform: scale(1.01);
     }
     .text {
        position: absolute;
        margin-left: 15vw;
        margin-top: 40vh;
     }
     .text2 {
        position: absolute;
        margin-left: 60vw;
        margin-top: 40vh;
     }
     h2 {
        font-size: 3vw;
        font-weight: 600;
        color: white;
     }
     .media:hover .text {
        position: absolute;
        margin-left: 15vw;
        margin-top: 40vh;
     }
    @media (max-width: 800px) {
        .nav {
            display: none;
        }
        .dropdown {
            display: none;
        }
        .menu {
            width: 40px;
            height: 30px;
            padding-right: 4vw;
        }
        .icon {
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        /* Hide the checkbox input */
        .menu-checkbox {
            display: none;
        }

        /* Styling for the menu icon */
        .menu-icon {
            cursor: pointer;
            padding: 10px;
        }

        /* Styling for the sidebar menu */
        .sidebar {
            z-index: 9999;
            position: fixed;
            right: -35vw; /* Off-screen by default */
            top: 0;
            width: 30vw;
            height: 100%;
            background-color: #f2f2f2;
            transition: right 0.3s ease;
            box-shadow: 5px 12px 7px rgba(0, 0, 1, 1);
        }

        /* Show the sidebar when checkbox is checked */
        .menu-checkbox:checked ~ .sidebar {
            right: 0;
        }

        /* Styling for the sidebar menu items */
        .sidebar ul {
            list-style-type: none;
        }

        .sidebar li {
            margin: 20px;   
        }

        .sidebar a {
            text-decoration: none;
            color: #000000;
        }

        /* Overlay to capture clicks outside the sidebar */
        .overlay {
            z-index: 999;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            pointer-events: none;
            transition: background-color 0.3s ease;
        }

        /* Show the overlay when checkbox is checked */
        .menu-checkbox:checked ~ .overlay {
            background-color: rgba(0, 0, 0, 0.5);
            pointer-events: auto;
        }
    }
    @media (min-width: 800px) {
        .menu {
            display: none;
        }
        .icon {
            display: none;
        }
        }