@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

    *{        /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif; /* Set the font family */
    }
    body {
        height: 3500px; /* default page length */
        background-attachment: fixed;
          }
    header, .footer{
        width: 100%;       
        background: #ffffff;
        padding: 10px;
        color: black;
        left: 0;
    }
    header{
        height: 75px;
        display: flex;
        justify-content: space-between; /* center all the elements inside the header */
        align-items: center; /* ^same thing^ */
        padding: 0;
    }
    .footer{
        top: 3500px;
        position: absolute;
        height: 20px;
        z-index: 10;
        
    }
    .navbar{ /* contains header elements */
        width: 100%;
        margin: 0; /* Center the DIV horizontally */
        display: flex;
        align-items: center;
        height: 82px;
        font-size: 3vw;
    }
    .header-list{
        position: relative;
        flex-grow: 3;
        color: #000000; /* This affects the header & footer text color */
        text-decoration: none;
        padding: 7px 25px; /* Increase the padding to make the buttons bigger */
        display: inline-block;
        background-color: #ffffff; /* Set the background color to a dark gray */
        border: none; /* Remove the border */
        border-radius: 25px; /* Round the edges */
        font-size: 16px; /* Increase the font size */
        cursor: pointer; /* Add a cursor on hover to make it clear that it's clickable */
        transition: background-color 0.5s ease; /* Add a transition effect when hovering over the button */
        margin-right: 20px; /* Add some margin to separate the buttons */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
    .header-list:hover{
        background-color: #000000; /* Change the background color on hover */
        color: white;
    }
    #about-me {
        min-width: 76px;
    }
    .dropdown {
        height: 82px;
        width: 106px;
        margin-right: 20px;
    }
    #gallery {
        position: relative;
        margin-top: 22px;
        
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        width: 135px;
        height: 70px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 15px;
        font-size: 15px;
        font-weight: 300;
        line-height: 0.8;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .logo { /* JS Photo Logo */
        height: 34px;
        text-align: center;
        color: #000000; /* default color for the text */
        transition: color 0.5s ease; /* add a transition effect when hovering */
        box-shadow: none; 
        padding: 0px;
        margin-left: 40px;
        margin-right: 40px;
        text-decoration: none;
        flex: 1;
        display: flex;
        align-items: center;
    }
    .logop1{
        font-weight: 200;
        font-size: 20px;
        display: inline-block;
        position: absolute;
    }
   span{
    margin-left: 170px;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    }
    .logo:hover {
    background-color: transparent;
    color: #ff0000; /* Change the text color on hover */
    text-decoration: none; 
    }
    nav{
        margin-right: 40px;
        display: flex;
        align-items: center;
        margin-left: 320px;
    }
.img-container { /* Home page image */
    width: auto;
    height: 750px;
    margin: 0;
    text-align: center;
    align-items: center; /* center the child elements vertically */
    justify-content: center; /* center the child elements horizontally */
  }
  h2 {
    font-weight: 700; /* Set the font weight (normal, bold, etc.) */
    line-height: .9; /* Set the line height (spacing between lines of text) */
    text-align: center; /* center the text horizontally */
    z-index: 0;
    font-size: 75px;
    height: auto; /* set the height of the scrolling-text element */
    margin-right: 10%;
    margin-left: 10%;
    margin-top: -450px;
    color: #ffffff;

    }
    .rcp {
    font-size: 23px;
    font-weight: 200;
    color: white;
    line-height: 1;
    z-index: 10;
    text-align: center;
    top: 100px;
    }
    .book-button1 {
        color: #000000; /* This affects the header & footer text color */
        text-decoration: none;
        padding: 7px 25px; /* Increase the padding to make the buttons bigger */
        display: inline-block;
        background-color: #ffffff; /* Set the background color to a dark gray */
        border: 1px solid white; /* Remove the border */
        border-radius: 25px; /* Round the edges */
        font-size: 16px; /* Increase the font size */
        font-weight: 300;
        cursor: pointer; /* Add a cursor on hover to make it clear that it's clickable */
        transition: background-color 0.3s ease; /* Add a transition effect when hovering over the button */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        margin: 20px;
    }
    .book-button1:hover {
    background: none;
    border: 1px solid white;
    color: white;
    font-weight: 300;
}


.background-image {
    max-width: 100%; /* Make the image fill its container */
    display: block;
    width: 100%; 
    height: 940px;
    text-align: center; /* Center the image horizontally */
    padding: 0;
    z-index: 1;
    margin: 0;
    align-items: center;
    height: 100%; /* Set the height to 100% */
    object-fit: cover; /* Ensure the image fills the container without distorting its aspect ratio */
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center calc(70% - 200px);
}
.services-container {
    height: 400px;
    text-align: center;
    background: white;
    color: black;
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    z-index: 0;
    margin: 0;
}
    h3 {
        font-size: 50px;
        padding: 20px;
    }
    .services-third {
        float: left;
        width: 28%;
        text-align: center;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 20px;
    }
        .services-text {
            text-align: center;
            padding: 20px;
            font-size: 20px;
        }
        .services-paragraph {
            padding: 20px;
        }
.aerial-container {
    height: 750px;
}
    .aerial-em {
        padding-top: 0px;
        padding-left: 5%;
        max-width: 400px;
        position: relative;
        z-index: 10;
        top: 250px;
        color: white;
    }
    .aerial-button {
        color: #000000; /* This affects the header & footer text color */
        text-decoration: none;
        padding: 7px 25px; /* Increase the padding to make the buttons bigger */
        background-color: #ffffff; /* Set the background color to a dark gray */
        border: 1px solid white; /* Remove the border */
        border-radius: 25px; /* Round the edges */
        font-size: 16px; /* Increase the font size */
        cursor: pointer; /* Add a cursor on hover to make it clear that it's clickable */
        transition: background-color 0.3s ease; /* Add a transition effect when hovering over the button */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        font-weight: 300;
        font-size: 16.2px;
        z-index: 10;
        margin-top: 20px;
    }
    .aerial-button:hover {
        background: none;
        border: 1px solid white;
        color: white;
        font-weight: 300;
    }
    .abc {
        margin-top: 20px;
    }
        .aerial-container video {
            position: absolute;
            top: 1000;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        } 
        h5 {
            font-size: 90px;
            line-height: .9;
            padding-bottom: 20px;
        }
        .aerial-text {
            margin-top: 20px;
        }
.price-container {
    height: 900px;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(118, 175, 255));
    padding: 60px;
    padding-left: 120px;
    padding-right: 120px;
}
    .price-title-container {
        height: 100px;
        padding-bottom: 50px;
    }
        .price-title {
            text-align: center;
            font-size: 90px;
        }
    .pricing-container {
        width: 70%;
        float: left;
        height: 620px;
        padding-left: 5%;
    }
        .package-container {
            width: 30%;
            float: left;
            padding-top: 100px;
            line-height: 10.5;
            height: 600px;
        }
        .price-values {
            width: 20%;
            float: left;
            height: 800px;
        }
            .price-value-title {
                line-height: 3.33;
                font-weight: 600;
                font-size: 30px;
            }
            .pric {
                line-height: 10.5;
            }
.description-title {
    line-height: 3.33;
    font-weight: 600;
    font-size: 30px;
}
.des {
    padding-top: 65px;
    font-weight: 200;
}
.standalone {
    margin-top: 33px;
    width: 30%;
    float: left;
    text-align: center;
    height: 620px;
    max-width: 200px;
}
    .standalone-services {
        line-height: 1;
        font-weight: 600;
        font-size: 20px;
    }
    .stand-subtitles {
        line-height: 1.5;
        padding-top: 30px;
        font-weight: 400;
    }
    .aerial-photos {
        padding-top: 70px;
    }
        .aerial-pricing {
            font-weight: 200;
        }
.note {
    display: inline-block;
    text-align: center;
    font-weight: 200;
    font-size: 16.2px;
    height: 100px;
    line-height: 1.3;
}
.book-button {
        color: #000000; /* This affects the header & footer text color */
        text-decoration: none;
        padding: 7px 25px; /* Increase the padding to make the buttons bigger */
        display: inline-block;
        background-color: #ffffff; /* Set the background color to a dark gray */
        border: none; /* Remove the border */
        border-radius: 25px; /* Round the edges */
        font-size: 16px; /* Increase the font size */
        font-weight: 300;
        cursor: pointer; /* Add a cursor on hover to make it clear that it's clickable */
        transition: background-color 0.3s ease; /* Add a transition effect when hovering over the button */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        margin-bottom: 70px;
}       

.book-button:hover {
    background: black;
    color: white;
}
.see-container {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 300px;
}
.btliving {
    position: absolute;
    top: 3020px;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: cover;
    filter: brightness(90%) /* makes image less bright */
}
.see-for {
    height: 100px;
    margin-top: 200px;
    font-weight: 600;
    font-size: 60px;
    z-index: 10;
    position: relative;
    color: white;
    line-height: 1;
}
.gallery-button {
    color: #000000; /* This affects the header & footer text color */
    text-decoration: none;
    padding: 7px 25px; /* Increase the padding to make the buttons bigger */
    background-color: #ffffff; /* Set the background color to a dark gray */
    border: 1px solid white; /* Remove the border */
    border-radius: 25px; /* Round the edges */
    font-size: 16px; /* Increase the font size */
    cursor: pointer; /* Add a cursor on hover to make it clear that it's clickable */
    transition: background-color 0.3s ease; /* Add a transition effect when hovering over the button */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: 300;
    font-size: 16.2px;
    z-index: 10;
}
.gallery-button:hover {
    background: none;
    border: 1px solid white;
    color: white;
    font-weight: 300;
}